[submodule "MFLYoutubeUploaderExample/MFLYoutubeUploaderExample/Youtube Uploading/STKWebKitViewController"]
	path = MFLYoutubeUploaderExample/MFLYoutubeUploaderExample/Youtube Uploading/STKWebKitViewController
url=git@github.com:MattFoley/STKWebKitViewController.git
